.program_action_btn {
    background: linear-gradient(180deg, #ffffff 75%, #dddddd 100%);
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.2rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;

    &_nav {
        text-decoration: none;
        color: var(--color-primary);

        h3 {
            font-size: 1.1rem;
            padding: 0.2vw;
        }
    }
}

.program_detail {
    margin-top: 1rem;
    box-shadow: 1px 1px 2px 3px rgba(#ddd, 0.4);
    border-radius: 10px;

    &_top {
        display: grid;
        background-color: #fff;
        grid-template-columns: 50% 50%;
        border-bottom: 1px solid #ddd;
        border-radius: 10px 10px 0 0;
        max-height: max-content;
        
        &_img {

            &_image {
                border-radius: 10px 0 0 0;
                max-width: 100%;
                object-fit: contain;
            }
        }

        &_title {
            display: grid;
            justify-content: center;
            align-self: center;
            text-align: center;
            padding: 1rem;
            font-family: inherit;

            h2 {
                font-size: 2rem;
                font-weight: 600;
            }
        }
    }

    &_bottom {
        padding: 1.5rem;
        background-color: #eee;
        font-family: "Inter", sans-serif;
        font-size: 1.2rem;
        border-radius: 0 0 10px 10px;

        &_date {
            padding-bottom: 1.5rem;
            font-weight: 10;
        }
    }

    &_group {
        font-weight: 800;
    }
}