%contentwrapper {
  background-color: #fff;
  box-shadow: 1px 2px 12px rgba(#ddd, 0.8);
  border-radius: 0.8rem;
  padding: 1rem;
}

.RedZone {
  display: grid;
  grid-template-rows: max-content repeat(2, minmax(25rem, max-content));
  grid-row-gap: 2rem;

  & span {
    margin : 1rem
  }


  & .IconAdd {
    color: #fff;
    background-color: var(--color-primary);
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    margin-left: 1rem;
    margin-right: 2rem;
  }

  &__heading {
    display: grid;
    grid-template-columns: 1fr 12rem;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;

    h3 {
      color: var(--color-primary);
      font-size: 1rem;
    }
  }

  &__map {
    @extend %contentwrapper;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  &__list {
    @extend %contentwrapper;
    margin-bottom: 2rem;
    

    &__data {
      margin-bottom: 2rem;
      margin-top: 3rem;
    }
  }
}

.utils {
  margin-bottom: 1rem;
}



#add {
  color: #111;
  font-weight: 800;
  text-decoration: none;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(#ddd, 0.9);

  justify-self: end;
  border-radius: 2rem;

  display: grid;
  grid-template-columns: 2rem max-content 0.4rem;
  grid-column-gap: 0.4rem;
  align-items: center;
  width: 15rem;
  margin-bottom: 1rem;
}

.divlink{
  display: flex;
}
#add2 {
  text-decoration: none;
  background-color: #fff;
  box-shadow: 1px 1px 2px rgba(#ddd, 0.9);
  border-radius: 2rem;
  margin-left: 3rem;
  align-items: center;
  padding: 3vh;
}
