%contentwrapper {
  background-color: #fff;
  box-shadow: 1px 2px 12px rgba(#ddd, 0.8);
  border-radius: 0.8rem;
  padding: 1rem;
}

.RedZone {
  display: grid;
  grid-template-rows: max-content repeat(2, minmax(25rem, max-content));
  grid-row-gap: 2rem;

  &__heading {
    display: grid;
    grid-template-columns: 1fr 12rem;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;

    h3 {
      color: var(--color-primary);
      font-size: 1rem;
    }
  }

  &__map {
    @extend %contentwrapper;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  &__list {
    @extend %contentwrapper;
    margin-bottom: 2rem;
    

    &__data {
      margin-bottom: 2rem;
      margin-top: 3rem;
    }
  }
}

.utils {
  margin-bottom: 1rem;
}

#add {
  font-size: medium;
  margin-left: 28rem;
}
.IconAdd {
  color: #fff;
  background-color: var(--color-primary);
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  margin-left: 1rem;
}
