.Report {
  display: grid;
  grid-template-rows: repeat(5, max-content);
  grid-row-gap: 1rem;

  &_heading {
      grid-row: 1/2;
      margin-bottom: 1rem;
  }

  &_card {
      background-color: #fff;
      box-shadow: 1px 1px 2px 3px rgba(#ddd, 0.4);
      height: 100%;
      border-radius: .8rem;

      &_heading {
          display: flex;
          align-items: center;


          background-color: var(--color-grey-dark-1);
          color: #fff;
          padding: .6rem .8rem .6rem .8rem;
          border-top-left-radius: .8rem;
          border-top-right-radius: .8rem;
        
         
      }

      &_icon {
          font-size: 1rem;
          margin-left: .7rem;
      }

      &_content {
          height: 100%;
          padding: 1rem;
          &_type {
              height: 1rem;
          }
          &-data {
              display: flex;
              justify-content: space-evenly;
              align-items: center;
              height: 80%;
              border-bottom: 3px solid var(--color-primary);
              
              &-left {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  padding: 2rem;

                  & > h1 {
                      font-size: 3.5rem;
                      color: var(--color-primary);
                  }

                  & > div {
                      display: flex;
                      align-items: center;

                      & > h5 {
                          font-size: 1.1rem;
                      }
                  }
              }

              &-right {
                  & > div {
                      display: flex;
                      & > h5 {
                          margin-left: 1rem;
                          font-size: .8rem;
                      }
                  }
              }

          }
          &-chart {
              display: table;
              height: 80%;
              width: 100%;
              justify-content: center;
              & > h2 {
                  display: table-cell;
                  vertical-align: middle;
                  text-align: center;
              }
          }
      }
  }
}


.UserReport {

  display: grid;
  grid-row: 2/3;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;

  &_totaluser {
      grid-column: 1 / 2;
  }

  &_totalactive {
      grid-column: 2 / 3;
  }

}

.Demography {

  display: grid;
  grid-row: 3/4;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;

  &_userdistrik {
      grid-column: 1 / 2;
  }
  &_userressort {
      grid-column: 2 / 3;
  }
  &_userhuria {
      grid-column: 3 / 4;
  }
}

.CoBrand {

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, minmax(20rem, max-content) ) ;
  grid-gap: 1.5rem;
  margin-top: 1.5rem;

  &_register {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
  }

  &_totalactive {
      grid-row:  1 / 2;
      grid-column: 2 / 3;
  }

  &_programactive {
      grid-row: 2 /3;
      grid-column: 1 / -1;
  }


}

//label & icon
.iconDanger {
  color: red;
  font-size: 1.2rem;
}
.iconSuccess {
  color: blue;
  font-size: 1.2rem;
}
.iconNormal {
  color: gray;
  font-size: 1.2rem;
}
.labelTitle {
  width: 1.8rem;
  height: .8rem;
  background-color: var(--color-primary);
}
.labelSuccess {
  width: 1.8rem;
  height: .8rem;
  background-color: blue;
}
.labelDanger {
  width: 1.8rem;
  height: .8rem;
  background-color: red;
}

.labelWarning {
  width: 1.8rem;
  height: .8rem;
  background-color: gray
}
.text-danger {
  color: red;
}
.text-success {
  color: blue;
}
.text-normal {
  color: gray;
}
